<a href="https://colab.research.google.com/github/harikrkishna/harikrkishna/blob/main/krishna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [10]:
msg=pd.read_csv('naivetext.csv',names=['message','label'])
print('The dimensions of the dataset',msg.shape)

The dimensions of the dataset (19, 2)

In [11]:
dataset

    Unnamed: 0                         text document label
0            1                  I love this sandwich   pos
1            2              this is an amaging place   pos
2            3    I feel very good about these beers   pos
3            4                  this is my best work   pos
4            5                 what an aweesome view   pos
5            6          I don't like this restaurent   neg
6            7              I am tired of this stuff   neg
7            8                I can't deal with this   neg
8            9                  he is my sworn enymy   neg
9           10                   my boss is horrible   neg
10          11             this is an aweesome place   pos
11          12  I don't like the taste of this juice   neg
12          13                       I love to dance   pos
13          14     I am sick and tired of this place   neg
14          15                  what a great holiday   pos
15          16          that is bad locality to stay   neg
16          17        we will have good fun tomorrow   pos
17          18      I went to my enymy's house today   neg

In [24]:
print('The dimensions of the dataset',msg.shape)

The dimensions of the dataset (19, 3)

In [30]:
msg['labelnum']=msg.label.map({'pos':1,'neg':0})

X=msg.message
y=msg.labelnum
print(X)
print(y)

NaN                            text document
1.0                     I love this sandwich
2.0                 this is an amaging place
3.0       I feel very good about these beers
4.0                     this is my best work
5.0                    what an aweesome view
6.0             I don't like this restaurent
7.0                 I am tired of this stuff
8.0                   I can't deal with this
9.0                     he is my sworn enymy
10.0                     my boss is horrible
11.0               this is an aweesome place
12.0    I don't like the taste of this juice
13.0                         I love to dance
14.0       I am sick and tired of this place
15.0                    what a great holiday
16.0            that is bad locality to stay
17.0          we will have good fun tomorrow
18.0        I went to my enymy's house today
Name: message, dtype: object
NaN     NaN
1.0     1.0
2.0     1.0
3.0     1.0
4.0     1.0
5.0     1.0
6.0     0.0
7.0     0.0
8.0     0.0
9.0     0.0
10.0    0.0
11.0    1.0
12.0    0.0
13.0    1.0
14.0    0.0
15.0    1.0
16.0    0.0
17.0    1.0
18.0    0.0
Name: labelnum, dtype: float64

In [31]:
#splitting the dataset into train and test data
xtrain,xtest,ytrain,ytest=train_test_split(X,y)
print ('\n the total number of Training Data :',ytrain.shape)
print ('\n the total number of Test Data :',ytest.shape)

 the total number of Training Data : (14,)

 the total number of Test Data : (5,)

In [33]:
#output the words or Tokens in the text documents
cv = CountVectorizer()
xtrain_dtm = cv.fit_transform(xtrain)
xtest_dtm=cv.transform(xtest)
print('\n The words or Tokens in the text documents \n')

 The words or Tokens in the text documents

In [52]:
print(msg.get_feature_names())

AttributeError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')